/* header-component/header.css */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--header-bg-color);
    color: #000;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo-container img {
    border-radius: 50%;
    width: var(--logo-size-m);
    height: var(--logo-size-m);
}

.logo-container{
    position: relative;
}

.logo-container::after{
    position: absolute;
    color: #000;
    top: .8rem;
    width: 4rem;
    content: 'Tazas Arce';
    line-height: 1.2;
    font-size: 1.2rem;
    text-align: center;
}

/* Estilo del menú */

.list-item {
    padding: 10px 15px;
    position: relative;
    transition: .5s;
}

.list-item:hover{
    color: rgba(100, 100, 100, alpha);
}

.main_header-contact-button{
    color: #000;
    background-color: rgba(100, 100, 100, .35);
    outline: 1px solid #fff;
    border-radius: 4px;
    border: none;
    transition: transform .3 ease;
}

.main_header-contact-button:hover{
    transform: scale(.9);
}

/* .main_header-contact-button in mobile */

@media screen and (max-width: 786px)
{
    .main_header-contact-button:hover{
        transform: none;
    }
}


/* end .list-item last child styles (button) */


/* Submenú oculto por defecto */
.sub-list-container {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
}

/* posicionando sub-list-container */

.list-item:nth-child(2){
    position: relative;
}

.sub-list-container{
    top: 2.5rem;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #fff;
    color: #000;
    overflow: hidden;
    border-radius: 8px;
}

/* sub list no se mostraba en desktop debido a "overflow: hidden" mediaquery para solucionarlo */

@media (min-width: 787px){
    .sub-list-container{
        overflow: visible;
    }
}

.sub-list-item {
    font-weight: 550;
    text-align: center;
    padding: 8px 15px;
    color: rgb(25, 25, 25);
    background-color: rgba(100, 100, 100, .65);
}

.sub-list-item:hover{
    transition: all .5s;
    background-color: var(--header-bg-color);
    color: #000;

}


/* Mostrar submenú cuando se hace clic */
.sub-list-container.open {
    display: block;
}

/* Estilo para el botón hamburguesa */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

/* Estilo para el ícono del menú */
.menu-toggle i {
    font-size: 30px;
    color: white;
}

/* Estilo para pantallas pequeñas (mobile-first) */
@media (max-width: 786px) {
    .nav-container {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--header-bg-color);
        font-weight: 600;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .nav-container.open {
        display: block;
        top: 6.25rem;
        right: 0;
        width: 100vw;
        position: absolute;
    }

    .list-container {
        flex-direction: column;
        width: 100%;
    }

    .list-item {
        text-align: left;
        padding: 10px;
        width: 100%;
    }

    .menu-toggle {
        display: block;
    }

    .sub-list-container.open {
        position: relative;
        display: block;
        z-index: 1100;
    }
    .main_header-contact-button{
        width: 25%;
        margin: .4rem auto;
        text-align: center;

    }
}

/* Estilo para pantallas grandes (desktop) */
@media (min-width: 787px) {
    .menu-toggle {
        display: none;
    }

    .nav-container {
        display: flex;
        flex-direction: row;
        position: static;
    }

    .list-container {
        display: flex;
    }

    .sub-list-container {
        display: none;
    }

    .sub-list-container.open {
        display: block;
    }
}
