.product_card-container{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    background-color: #444;
    color: #fff;
    transition: transform .333s ease-in-out;
}

.product_card-container:hover{
    transform: scale(1.0525);
}

.product_card-container img{
    width: clamp(400px, 150px, 100px);
    height: clamp(100px, 150px, 400px);
    aspect-ratio: 16/9;
    object-fit: cover;
}

.product_card-container h2{
    font-weight: 450;
    text-align: center;
    font-size: 1.2rem;
    padding: .5rem;
    text-wrap: nowrap;
}

@media (min-width: 787px){
    .product_card-container{
        width: 75%;
    }
}

