<footer class="main-footer">
    <div class="about-us_footer">
        <img src="./assets/img/png/logo-removebg-preview.png" alt="Logo">
        <p>Una empresa con experiencia en el estampado y sublimado dentro del rubro textil y plástico.</p>
        <div class="social-media social-media_footer">
            <a href="https://www.facebook.com/profile.php?id=100086935802918" aria-label="mi perfil en facebook"><i class="fa-brands fa-facebook fa-xl"></i></a>
            <a href="https://www.instagram.com/tazas.arce/" aria-label="mi perfil en instagram"><i class="fa-brands fa-square-instagram fa-xl"></i></a>
            <a href="google.com" aria-label="mi correo electronico"><i class="fa-solid fa-envelope fa-xl"></i></i></a>
        </div>
    </div>
    <div class="quick-links">
        <span>Enlaces Rapidos</span>
        <nav class="nav-container_footer">
            <ul class="list_footer">
                <li class="list-item_footer"><a href="./index.html" aria-label="pagina de inicio">Inicio</a></li>
                <li class="list-item_footer"><a href="./productos.html" aria-label="pagina de mis productos">Productos</a></li>
                <li class="list-item_footer"><a href="./nosotros.html" aria-label="sobre mi negocio">Sobre Nosotros</a></li>
                <li class="list-item_footer"><a href="./contact.html" aria-label="pagina de contacto">Contacto</a></li>
            </ul>
        </nav>
    </div>
    <div class="contact_footer">
        <span>Contacto</span>
        <ul class="list-contact_footer">
            <li class="list-contact-item_footer"><i class="fa-solid fa-envelope"></i> tazasarce@gmail.com</li>
            <li class="list-contact-item_footer"><i class="fa-solid fa-phone"></i> +54 9 11 5697-5257</li>
        </ul>
    </div>
</footer>