<main class="product-container" id="product-container">
    <div class="product-header">
        <div class="product-bg-img-container">
            <img src="/assets/img/webp/gorras-impresas.webp" class="product-bg-img" alt="Gorras" aria-label="Gorras">
        </div>
        <div class="product-title">
            <h2 class="product-name"></h2>
            <p class="product-p">Conoce nuestros trabajos por productos</p>
        </div>
    </div>
    <div class="product-grill">
        <div class="product-img-container product-cell"><img src="" alt="" class="product-img" ></div>
    </div>
</main>
